<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS::Registration</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {{!-- Navigation links --}}
    <nav>
        <h4>NodeJS Sample Application</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/usrMgt">User Mgt</a></li>
        </ul>
    </nav>

    {{!-- Body --}}
    <div class="container mt-4">
        <div class="card" style="width: 100%;">
            <div class="card-header">Registration Form</div>
            <div class="card-body">
                <form action="/api/register" method="POST">
                    <div class="mb-3">
                        <label for="name-reg" class="form-label">Name</label>
                        {{#if user}}
                        <input type="text" class="form-control" id="name-reg" name="name" value="{{user.name}}">
                        {{else }}
                        <input type="text" class="form-control" id="name-reg" name="name" value="">
                        {{/if}}
                    </div>
                    <div class="mb-3">
                        <label for="email-reg" class="form-label">Email</label>
                        {{#if user}}
                        <input type="text" class="form-control" id="email-reg" name="email" value="{{user.email}}"
                            disabled="true">
                        {{else }}
                        <input type="text" class="form-control" id="email-reg" name="email" value="">
                        {{/if}}
                    </div>
                    <div class="mb-3">
                        <label for="password-reg" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password-reg" name="pass">
                    </div>
                    <div class="mb-3">
                        <label for="password-conf-reg" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="password-conf-reg" name="cpass">
                    </div>
                    <div class="div-content">
                        <button type="submit" class="btn btn-primary" style="width: 20%;"><i class="fa fa-user-plus" aria-hidden="true"></i>
                            &nbsp;Register</button>
                    </div>

                </form>
            </div>
        </div>

        {{#if message }}
        <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}
    </div>
    <div class="footer">
        <p>&copy; All rights reserved</p>
    </div>
</body>

</html>